$primary: #BF953F;
$secondary: #FCF6BA;
$white: #fff;
$gray: #9b9b9b;

@media (min-width: 768px) and (max-width: 1024px){  
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #242424;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 125%;
        display: flex;
        overflow-x: hidden;
        justify-content: center;
    }
    
    .first {
        position: absolute;
        display: flex;
        width: 0.1rem;
        height: 107rem;
        left: 5rem;
        z-index: 3;
    }
    
    .second {
        position: absolute;
        display: flex;
        width: 0.1rem;
        height: 107rem;
        left: 47rem;
        z-index: 3;
    }
    
    .third {
        position: absolute;
        display: flex;
        width: 100%;
        height: 0.1rem;
        top: 5rem;
        left: 0;
        z-index: 3;
    }
    
    .forth {
        position: absolute;
        display: flex;
        width: 100%;
        height: 0.1rem;
        top: 51rem;
        left: 0;
        z-index: 3;
    }
    
    .fifth {
        position: absolute;
        display: flex;
        width: 100%;
        height: 0.1rem;
        top: 102rem;
        left: 0;
        z-index: 3;
    }
    
    .complogo {
        display: flex;
        position: absolute;
        width: 4rem;
        height: auto;
        left: 0.5rem;
        top: 0;
        z-index: 2;
    }
    
    .title {
        font-family: 'rimas', sans-serif;
        font-size: 4em;
        color: #AA771C;
        display: flex;
        position: absolute;
        left: 6rem;
        top: -4.5rem;
    }
    
    .back {
        position: absolute;
        height: 45rem;
        top: 5rem;
        right: 0rem;
        display: flex;
        z-index: 2;
    }
    
    .woman {
        display: none;
        // position: absolute;
        // width: 25rem;
        // left: 10rem;
        // top: 6.5rem;
    }
    
    .back2{
        position: absolute;
        height: 45rem;
        top: 51rem;
        left: -3rem;
        display: flex;
        z-index: 0;
    }
    
    .kvalite {
        font-family: 'rimas', sans-serif;
        font-size: 4em;
        display: flex;
        margin: 0%;
        left: 6rem;
        top: 10rem;
        width: 35rem;
        position: absolute;
        z-index: 3;
        color: #AA771C;
    }
    
    .undertext {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 35rem;
        top: 25rem;
        left: 6rem;
        font-size: 2em;
        z-index: 3;
        color: #AA771C;
    }
    
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 46rem;
        left: 25rem;
        transform: translate(-50%, -50%);
        font-size: 1.2em;
        padding: 10px 20px;
        height: 6rem;
        width: 6rem;
        background: radial-gradient(circle at center, #fbf9e2, #dad2c6);  
        border: none;
        cursor: pointer;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out, background-color 0.6s ease-in-out;
    }
    
    button:hover {
        background: radial-gradient(circle at center, #dad2c6, #fbf9e2 );
    }
    
    button i {
        font-size: 3.5rem;
        font-weight: bold;
        color: black;
    }
    
    .section {
        width: 25rem;
        height: 45rem;
        position: absolute; 
        margin-top: 50rem;
        display: flex;
        flex-direction: column;
        left: 10rem;
    
        span {
        background-color: #fbf6c200;
        font-size: 2.5rem;
        display: flex;
        width: 100%;
        height: 3rem;
        margin-bottom: 0.5rem;
        justify-content: center;
        font-family: 'Fog', sans-serif;
        letter-spacing: 0.2rem;
        transition: transform 0.3s ease-in;
        color: #AA771C;
        }
    
        span:hover {
        transform: scale(1.2);
        }
    }
    
    .over {
        display: flex;
        margin-top: 1rem;
        font-size: 2em;
        line-height: 1.7rem;
        width:30rem;
        font-family: 'rimas', sans-serif;
        text-align: center;
        color: #AA771C;
    }
    
    .under {
        display: block;
        font-family: 'rimas', sans-serif;
        text-align: left;
        font-size: 2rem;
        margin-top: 7rem;
        margin-left: 1rem;
        width: 35rem;
        color: white;
    }
    
    .action {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 99rem;
        left: 25rem;
        font-size: 1.6em;
        font-family: 'Fog', sans-serif;
        padding: 10px 20px;
        height: 4rem;
        width: 15rem;
        background: radial-gradient(circle at center, #fbf9e2, #dad2c6);  
        border: none;
        cursor: pointer;
        color: bla;
        border-radius: 5%;
        color: #AA771C;
        transition: transform 0.3s, width 0.2s ease-in;
    }
    
    .action:hover {
        width: 16rem;
        height: 4rem;
    }
    
    .plate1 {
        display: none;
        // position: absolute;
        // width: 13rem;
        // left: 40rem;
        // top: 0rem;
    }
    
    .plate2 {
        display: none;
        // position: absolute;
        // width: 13rem;
        // left: 40rem;
        // top: 20rem;
    }
    
    .hidden {
        display: none !important; 
    }
    
    .vail {
        background-color: rgba(0, 0, 0, 0.45);
        display: flex;
        width: 100%;
        height: 154vh;
        z-index: 4;
    }
    
.contactForm {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 5;
    font-size: 1.5rem;
    background-color: #b3b3b3;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    left: 8rem;
    right: 20rem;
    top: 5rem;
    bottom: 5rem;
    border-radius: 15px;
    width: 35rem;
    
    h1 {
        font-family: 'Fog', sans-serif;
        color: #AA771C;
    }
    
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        .form__group {
        position: relative;
        padding: 15px 0 0;
        margin-top: 10px;
        width: 28%;
        left: 1rem;
        margin-right: 4rem;
        margin-bottom: 10rem;
    
        .form__field {
            font-family: inherit;
            width: 100%;
            border: 0;
            border-bottom: 2px solid $gray;
            outline: 0;
            font-size: 1.3rem;
            color: $white;
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s;
    
            &::placeholder {
            color: transparent;
            }
    
            &:placeholder-shown ~ .form__label {
            font-size: 1.3rem;
            cursor: text;
            top: 20px;
            }
    
            &:focus {
            padding-bottom: 6px;  
            font-weight: 700;
            border-width: 3px;
            border-image: linear-gradient(to right, $primary,$secondary);
            border-image-slice: 1;
            
            ~ .form__label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: 1rem;
                color: $primary;
                font-weight:700;
            }
            }
    
            &:required, &:invalid {
            box-shadow: none;
            }
        }
    
        .form__label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 1rem;
            color: $gray;
        }
    
            #diet option[value="meat"] {
            color: #000;
        }
        
        #diet option[value="vegetarian"] {
            color: #000;
        }
    
        input[type="submit"] {
            background-color: #AA771C;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border: none;
            border-radius: 4px;
        }
    
        input[type="submit"]:hover {
            background-color: #865c15;
        }
        }
    }
    }
        
    .close {
        display: flex;
        position: absolute;
        top: 3rem;
        left: 35rem;
        width: 2rem;
        height: 2rem;
        border-radius: 0;
    }
}
    
    
    @font-face {
        font-family: Giza;
        src: url(./fonts/Giza.otf);
      }
      
      @font-face {
        font-family: Fog;
        src: url(./fonts/foglihtenno07/FoglihtenNo07.otf);
      }
      
      @font-face {
        font-family: rimas;
        src: url(./fonts/LDBumbon-Regular.ttf);
      }
    