@media (min-width: 280px) and (max-width: 766px){  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    // background-image: url("../mrtranscendence-attachments/graybackground.png");
    // background-size: 100vw 100vh;
    // background-repeat: repeat;
    background-color: black;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 125%;
    display: flex;
    overflow-x: hidden;
    justify-content: center;
}

// header {
//     background-color: rgba(12, 1, 1, 0.457);
//     position: fixed;
//     top: 0;
//     z-index: 1;
//     width: 100%;

//     nav {
//     display: flex;
//     justify-content: center;
//     padding: 1rem;

//     ul {
//         list-style: none;
//         margin: 0;
//         padding: 0;
//         display: flex;
//         justify-content: center;
//         width: 100%;

//         li {
//         display: inline;
//         margin-left: 1rem;

//         a {
//             text-decoration: none;
        
//             i {
//             background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
//             background-clip: text;
//             -webkit-background-clip: text;
//             -webkit-text-fill-color: transparent;
        
//             &:hover {
//                 text-decoration: underline;
//             }
//             }
//         }        
//         }
//     }
//     }
// }

.first {
    position: absolute;
    display: flex;
    width: 0.1rem;
    height: 107rem;
    left: 5rem;
    z-index: 3;
}

.second {
    position: absolute;
    display: flex;
    width: 0.1rem;
    height: 107rem;
    left: 21rem;
    z-index: 3;
}

.third {
    position: absolute;
    display: flex;
    width: 26rem;
    height: 0.1rem;
    top: 5rem;
    left: 0;
    z-index: 3;
}

.forth {
    position: absolute;
    display: flex;
    width: 26rem;
    height: 0.1rem;
    top: 51rem;
    left: 0;
    z-index: 3;
}

.fifth {
    position: absolute;
    display: flex;
    width: 26rem;
    height: 0.1rem;
    top: 102rem;
    left: 0;
    z-index: 3;
}

.complogo {
    display: flex;
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: 0.5rem;
    top: 0;
    z-index: 2;
}

.title {
    font-family: 'rimas', sans-serif;
    font-size: 2.1em;
    color: #AA771C;
    display: flex;
    position: absolute;
    left: 6rem;
    top: -1.5rem;
}

.back {
    position: absolute;
    height: 25rem;
    top: 10rem;
    right: 0rem;
    display: flex;
    z-index: 2;
}

.woman {
    display: none;
    // position: absolute;
    // width: 25rem;
    // left: 10rem;
    // top: 6.5rem;
}

.back2{
    position: absolute;
    height: 30rem;
    top: 55rem;
    left: -3rem;
    display: flex;
    z-index: 0;
}

.kvalite {
    font-family: 'rimas', sans-serif;
    font-size: 2em;
    display: flex;
    margin: 0%;
    left: 6rem;
    top: 7rem;
    width: 15rem;
    position: absolute;
    z-index: 3;
    color: #AA771C;
}

.undertext {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 15rem;
    top: 27rem;
    left: 6rem;
    font-size: 1.3em;
    z-index: 3;
    color: #AA771C;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 46rem;
    left: 13rem;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    padding: 10px 20px;
    height: 6rem;
    width: 6rem;
    background: radial-gradient(circle at center, #fbf9e2, #dad2c6);  
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, background-color 0.6s ease-in-out;
}

button:hover {
    background: radial-gradient(circle at center, #dad2c6, #fbf9e2 );
}

button i {
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
}

.section {
    width: 20rem;
    height: 45rem;
    position: absolute; 
    margin-top: 50rem;
    display: flex;
    flex-direction: column;
    left: 5rem;

    span {
    background-color: #fbf6c200;
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    height: 3rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    font-family: 'Fog', sans-serif;
    letter-spacing: 0.2rem;
    transition: transform 0.3s ease-in;
    color: #AA771C;
    }

    span:hover {
    transform: scale(1.2);
    }
}

.over {
    display: flex;
    margin-top: 1rem;
    font-size: 1.3em;
    line-height: 1.7rem;
    width: 16rem;
    font-family: 'rimas', sans-serif;
    text-align: center;
    color: #AA771C;
}

.under {
    display: block;
    font-family: 'rimas', sans-serif;
    text-align: left;
    font-size: 1.5rem;
    margin-top: 7rem;
    margin-left: 1rem;
    width: 15rem;
    color: white;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 99rem;
    left: 13rem;
    font-size: 1.6em;
    font-family: 'Fog', sans-serif;
    padding: 10px 20px;
    height: 4rem;
    width: 12rem;
    background: radial-gradient(circle at center, #fbf9e2, #dad2c6);  
    border: none;
    cursor: pointer;
    color: bla;
    border-radius: 5%;
    color: #AA771C;
    transition: transform 0.3s, width 0.2s ease-in;
}

.action:hover {
    width: 16rem;
    height: 4rem;
}

.plate1 {
    display: none;
    // position: absolute;
    // width: 13rem;
    // left: 40rem;
    // top: 0rem;
}

.plate2 {
    display: none;
    // position: absolute;
    // width: 13rem;
    // left: 40rem;
    // top: 20rem;
}

.hidden {
    display: none !important; 
}

.vail {
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    width: 100%;
    height: 199vh;
    z-index: 4;
}

.contactForm {
    display: flex;
    position: fixed;
    z-index: 5;
    font-size: 2rem;
    flex-direction: column;
    background-color: #b3b3b3;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    width: 21rem;
    height: 48rem;
    left: 2rem;
    right: 2rem;
    top: 3rem;
    bottom: 3rem;
    border-radius: 15px;

    input {
    border: none;
    width: 15rem;
    height: 1.5rem;
    }

    h1 {
    font-family: 'Fog', sans-serif;
    color: #AA771C;
    }
}

.subButton {
    background-color: #AA771C;
    display: flex;
    position: absolute;
    font-size: 2.5rem;
    width: 10rem;
    height: 3rem;
    border-radius: 0;
    left: 11rem;
    top: 48rem;
    font-family: 'Fog', sans-serif;
    color: #AA771C;
    justify-content: center;
    align-content: center;
    margin: 0%;
}

.close {
    display: flex;
    position: absolute;
    top: 3rem;
    left: 21rem;
    width: 2rem;
    height: 2rem;
    border-radius: 0;
}

#readMoreButton {
    display: flex;
    top: 16rem;
    left: 8rem;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 5px;
}
}


@font-face {
    font-family: Giza;
    src: url(./fonts/Giza.otf);
  }
  
  @font-face {
    font-family: Fog;
    src: url(./fonts/foglihtenno07/FoglihtenNo07.otf);
  }
  
  @font-face {
    font-family: rimas;
    src: url(./fonts/LDBumbon-Regular.ttf);
  }
