@import url(./mobile.css);
@media (min-width: 1025px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 125%;
    display: flex;
    overflow-x: hidden;
    justify-content: center;
  }
  header {
    background-color: rgba(12, 1, 1, 0.457);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  header nav {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  header nav ul li {
    display: inline;
    margin-left: 1rem;
  }
  header nav ul li a {
    text-decoration: none;
  }
  header nav ul li a i {
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  header nav ul li a i:hover {
    text-decoration: underline;
  }
  .first {
    position: absolute;
    display: flex;
    width: 0.2rem;
    height: 99rem;
    left: 5rem;
    z-index: 3;
  }
  .second {
    position: absolute;
    display: flex;
    width: 0.2rem;
    height: 99rem;
    right: 5rem;
    z-index: 3;
  }
  .third {
    position: absolute;
    display: flex;
    width: 89rem;
    height: 0.2rem;
    top: 5rem;
    left: 0;
    z-index: 3;
  }
  .forth {
    position: absolute;
    display: flex;
    width: 89rem;
    height: 0.2rem;
    top: 45rem;
    left: 0;
    z-index: 3;
  }
  .fifth {
    position: absolute;
    display: flex;
    width: 89rem;
    height: 0.2rem;
    top: 94rem;
    left: 0;
    z-index: 3;
  }
  .complogo {
    display: flex;
    position: absolute;
    width: 4rem;
    height: auto;
    left: 0.5rem;
    top: 0;
    z-index: 2;
  }
  .homelogo {
    position: relative;
    width: 2rem;
    height: 2rem;
    display: flex;
    margin-right: 1%;
    z-index: 1;
  }
  .title {
    font-family: "rimas", sans-serif;
    font-size: 3em;
    color: #AA771C;
    display: flex;
    position: absolute;
    left: 6rem;
    top: -3rem;
  }
  .back {
    position: absolute;
    height: 60rem;
    right: 0rem;
    display: flex;
    z-index: 2;
  }
  .woman {
    display: flex;
    position: absolute;
    width: 25rem;
    left: 10rem;
    top: 6.5rem;
  }
  .back2 {
    position: absolute;
    height: 40rem;
    top: 50rem;
    left: -3rem;
    display: flex;
    z-index: 2;
  }
  .logo {
    color: white;
    text-decoration: none;
    width: 20%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
  .kvalite {
    font-family: "rimas", sans-serif;
    font-size: 5em;
    display: flex;
    margin: 0%;
    left: 40rem;
    top: 15rem;
    width: 45rem;
    position: absolute;
    z-index: 3;
    color: #AA771C;
  }
  .undertext {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30rem;
    top: 28rem;
    left: 40rem;
    font-size: 1.3em;
    z-index: 3;
    color: #AA771C;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40rem;
    left: 55rem;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    padding: 10px 20px;
    height: 6rem;
    width: 6rem;
    background: radial-gradient(circle at center, #fbf9e2, #dad2c6);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, background-color 0.6s ease-in-out;
  }
  button:hover {
    background: radial-gradient(circle at center, #dad2c6, #fbf9e2);
  }
  button i {
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
  }
  .section {
    width: 40rem;
    height: 45rem;
    position: absolute;
    margin-top: 50rem;
    display: flex;
    flex-direction: column;
    left: 25rem;
  }
  .section span {
    background-color: rgba(251, 246, 194, 0);
    font-size: 2.5rem;
    display: flex;
    width: 100%;
    height: 3rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    font-family: "Fog", sans-serif;
    letter-spacing: 0.2rem;
    transition: transform 0.3s ease-in;
    color: #AA771C;
  }
  .section span:hover {
    transform: scale(1.2);
  }
  .over {
    display: flex;
    margin-top: 1rem;
    font-size: 1.7em;
    line-height: 1.7rem;
    width: 38rem;
    font-family: "rimas", sans-serif;
    text-align: center;
    color: #AA771C;
  }
  .under {
    display: block;
    font-family: "rimas", sans-serif;
    text-align: left;
    font-size: 2rem;
    margin-top: -3rem;
    color: white;
  }
  #readMoreButton {
    display: none;
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90rem;
    left: 45rem;
    font-size: 1.6em;
    font-family: "Fog", sans-serif;
    padding: 10px 20px;
    height: 4rem;
    width: 20rem;
    background: radial-gradient(circle at center, #fbf9e2, #dad2c6);
    border: none;
    cursor: pointer;
    color: bla;
    border-radius: 5%;
    color: #AA771C;
    transition: transform 0.3s, width 0.2s ease-in;
  }
  .action:hover {
    width: 25rem;
    height: 4rem;
  }
  .plate1 {
    display: flex;
    position: absolute;
    width: 13rem;
    left: 40rem;
    top: 0rem;
  }
  .plate2 {
    display: flex;
    position: absolute;
    width: 13rem;
    left: 40rem;
    top: 20rem;
  }
  .hidden {
    display: none !important;
  }
  .vail {
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    width: 100%;
    height: 199vh;
    z-index: 4;
  }
  .contactForm {
    display: flex;
    position: fixed;
    z-index: 5;
    font-size: 2rem;
    flex-direction: column;
    background-color: #b3b3b3;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    left: 20rem;
    right: 20rem;
    top: 5rem;
    bottom: 5rem;
    border-radius: 15px;
  }
  .contactForm input {
    border: none;
    width: 15rem;
    height: 1.5rem;
  }
  .contactForm h1 {
    font-family: "Fog", sans-serif;
    color: #AA771C;
  }
  .subButton {
    background-color: #AA771C;
    display: flex;
    position: absolute;
    font-size: 2.5rem;
    width: 10rem;
    height: 3rem;
    border-radius: 0;
    left: 39rem;
    top: 36rem;
    font-family: "Fog", sans-serif;
    color: #AA771C;
    justify-content: center;
    align-content: center;
    margin: 0%;
  }
  .close {
    display: flex;
    position: absolute;
    top: 3rem;
    left: 45rem;
    width: 2rem;
    height: 2rem;
    border-radius: 0;
  }
}
@font-face {
  font-family: Giza;
  src: url(./fonts/Giza.otf);
}
@font-face {
  font-family: Fog;
  src: url(./fonts/foglihtenno07/FoglihtenNo07.otf);
}
@font-face {
  font-family: rimas;
  src: url(./fonts/LDBumbon-Regular.ttf);
}/*# sourceMappingURL=style.css.map */